div{
    float: left;
}
.shadow{
    box-shadow: 3px 3px 3px black;
}
.button1 {
    width: 80pt;
    height: 20pt;
    margin-right: 10pt;

}
.hr1{
    background-color: black;
    width: 100%;
    height: 2px;
    border-top: 1px solid black
}
.button1:hover {background-color: #848484}

.button1:active {
    background-color: #848484;

}
.hover1:hover {background-color: #848484}

.hover1:active {
    background-color: #848484;

}
.myclass{
    width: 50%;
}
