
#header{
    width: 50%;
    margin-top: 35pt;

}
#caption1{
    width: 50%;
}
#headline{
    margin-top: 30pt;
}
#formType{
    margin-left: 10pt;

    height: 16pt;
}
.labelFC{
    display: inline-block;
    width: 30pt;
}
.labelFC2{
    display: inline-block;
    width: 40pt;
}
header{
    width: 100%;
}
