
div{

}
#parent{
    width: 100%;
}
#butD{
    border:none;
    width:100%;
    margin-top: -35pt;
}
#selectB{
    margin-right: 20px;
    height:20pt;
}
.button2{
    width: 80pt;
    height:20pt;
}
#headline2{
    margin-top: 30pt;
}
.child{
    text-align: center;
    height: auto;
    width: 20%;
    margin-left: 45pt;
    margin-bottom: 35pt;
    border: solid 1px black;
}

.check1{
    margin-top: 10pt;
    float: left;
}
